// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$pIndent = 32px

.page .content p 
	text-indent $pIndent
	
.language-javascript 
	white-space pre !important
	
input[type='range'] {
  height: 0.2rem;
  border: 0;
  border-radius: 2px;
  background-color: #f0f0f0;
  position: relative;
  -webkit-appearance: none !important;
  outline:none;
}
input[type='range']::-webkit-slider-thumb {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border-color: #62a0fc;
  background-color: #62a0fc;
  -webkit-appearance: none !important;
}
.tip.custom-block p 
	text-indent:0
.warning.custom-block p 
	text-indent:0
.danger.custom-block p 
	text-indent:0